@model LojaProduto.Services.Spec.DataTransferObjects.DTOPedido

@using LojaProduto.Presentation.Helpers
@using LojaProduto.Common


<div class="container geral">
    <div class="row">
        <div id="top">
            <div class="col-md-2">
                <h2>Pedido</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <br />
        <div class="row well well-sm table-responsive col-md-10">
            <table>
                <tbody>
                    <tr>
                        <td class="pull-left col-sm-1">
                            <img src="img/produtos/foto1-verde.png" alt="Fuzzy Cardigan" class="img-thumbnail img-responsive">
                        </td>
                        <td>
                            <dl class="pull-left">
                                <dt>@Html.Label("Nome produto")</dt>
                                <dd>@Html.Label("Categoria") </dd>
                            </dl>
                        </td>
                        <td class="pull-right ">
                            @Html.Label("Preço:")
                            @*<label>Preco</label>*@
                        </td>
                        <td class="pull-right ">
                            <input name="quantidadeItens" class="form-control" type="text" placeholder="Quantidade Produtos" />
                        </td>

                        <td class="pull-right ">
                            <label>@Html.Label("Preço:")</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="pull-right">
                <h4>Forma de Pagamento</h4>
                <select id="categoria" name="CategoriaId" class="form-control"></select>
                <table>
                    <tr>
                        <td>@Html.Label("Total:")</td>
                        <td>ValorDoTotal</td>
                    </tr>
                </table>
                <a class="btn btn-success btn-xs" href="view.html">Finalizar Pedido</a>
            </div>
        </div>
    </div>
</div>