@model LojaProduto.Presentation.Models.Pedidos

@using LojaProduto.Presentation.Helpers
@using LojaProduto.Common


<div class="container geral">
    <div class="row">
        <div id="top">
            <div class="col-md-2">
                <h2>Pedido</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        @if (Model.ItensPedidos != null)
        {
            foreach (var pedido in Model.ItensPedidos)
            {
                <div class="col-sm-12 col-xs-10">
                    <div class="row well">
                        @if (pedido.Produto.CodigoProduto != null)
                        {
                            Model.NomeImagemPedido = "../Content/ImagensProdutos/" + pedido.Produto.CodigoProduto + ".jpg";
                        }
                        <img width="90" height="90" src=@Model.NomeImagemPedido class="img-responsive col-xs-5" , id="nome-imagem" />
                        <div class="col-xs-6 col-xs-offset-1 center-block " data-name="adicionar-pedido">
                            @Html.Label(pedido.Produto.Nome, new { @id = "nome-produto", @idProduto = pedido.Produto.Id })
                            @Html.Label(pedido.Produto.Categoria.Nome, new { @id = "nome-categoria", @maxlength = "12" })
                            @Html.Label(pedido.Produto.PrecoProduto.ToString("C"), new { @id = "preco-produto" })
                            @Html.Hidden("id-produto", pedido.Produto.Id, new { @id = "id-produto" })

                            <a class="btn btn-success btn-xs" data-name="adicionar-pedido" data-toggle="modal" data-target="#modal-SolicitarPedido">Adicionar ao Pedido</a>
                        </div>
                    </div>
                </div>
            }
        }
        <div>
            @*Forma de pagamento ---->*@
            <div class="pull-right">
                <h4>Forma de Pagamento</h4>
                <select id="categoria" name="CategoriaId" class="form-control"></select>
                <table>
                    <tr>
                        <td>@Html.Label("Total:")</td>
                        <td>ValorDoTotal</td>
                    </tr>
                </table>
                <a class="btn btn-success btn-xs" href="view.html">Finalizar Pedido</a>
            </div>
            @*<--------*@
        </div>

    </div>
    
   
    @*<div class="row">
        <br />
        <div class="row well well-sm table-responsive col-md-10">
            <table>
                <tbody>
                    <tr>
                        <td class="pull-left col-sm-1">
                            <img src="img/produtos/foto1-verde.png" alt="Fuzzy Cardigan" class="img-thumbnail img-responsive">
                        </td>
                        <td>
                            <dl class="pull-left">
                                <dt>@Html.Label("Nome produto")</dt>
                                <dd>@Html.Label("Categoria") </dd>
                            </dl>
                        </td>
                        <td class="pull-right ">
                            @Html.Label("Preço:")*@
                            @*<label>Preco</label>*@
                        @*</td>
                        <td class="pull-right ">
                            <input name="quantidadeItens" class="form-control" type="text" placeholder="Quantidade Produtos" />
                        </td>

                        <td class="pull-right ">
                            <label>@Html.Label("Preço:")</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div>*@
            @*Forma de pagamento ---->*@
            @*<div class="pull-right">
                <h4>Forma de Pagamento</h4>
                <select id="categoria" name="CategoriaId" class="form-control"></select>
                <table>
                    <tr>
                        <td>@Html.Label("Total:")</td>
                        <td>ValorDoTotal</td>
                    </tr>
                </table>
                <a class="btn btn-success btn-xs" href="view.html">Finalizar Pedido</a>
            </div>*@
            @*<--------*@
        @*</div>
    </div>*@


</div>